<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-generated</title>
</head>
<body>
    <h1>Your URL is generated</h1>

<p>
    short URL :
    <a href="http://localhost:3000/url/<%= id %>"><%= id %></a>
</p>
<div>
    <a href="http://localhost:3000/analytics">Show all analytics</a>
</div>
</body>
</html>